body {
    background-color: #efefef;
}
.card {
    border-color: #D9A530;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D9A530;
    --bs-btn-border-color: #D9A530;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c79629;
    --bs-btn-hover-border-color: #c79629;
    /*
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
     */
}

.contact-table-row > td#email {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #D9A530;
}